@tailwind base;
@tailwind components;

body {
  margin: 16px;
  background-color: #C4C4C4;
}

.btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
}

.hero {
  @apply py-20;
}

.title {
  @apply text-5xl text-center;
  color: #333;
  line-height: 1.15;
}

.top-100px {
 top: 100px;
}

@tailwind utilities;
