html,
body {
  padding: 0;
  margin: 0;
  font-family: Benne , Garamond , "Roboto Slab" , "Times New Roman" ,
   Shippori Mincho B1 , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" ,
    "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" ,　serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
